name: CI

on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true
      HEDIA_BOT_GITHUB_PAT:
        required: true

jobs:

  # Determine if the following CI steps should be skipped due to autobump commit.
  should-skip-remaining-jobs:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.ci-skip.outputs.ci-skip }}
      
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '1000'

      - name: Should skip CI
        id: ci-skip
        uses: mstachniuk/ci-skip@v1
        with:
          commit-filter: 'autobump'        

  # Run linting and tests.
  lint-and-test:
    needs: [should-skip-remaining-jobs]
    runs-on: ubuntu-latest
    if: ${{ needs.should-skip-remaining-jobs.outputs.skip == 'false' }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'

      - name: Set NPM access token
        run: npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - run: npm ci --ignore-scripts
      - run: npm run pkg-json-lint
      - run: npm run prettier
      - run: npm run tslint
      - run: npm run tsc
      - run: npm run test
      
  # Bump version (if needed) & publish alpha package.
  bump-version-and-publish-alpha:
    needs: [lint-and-test]
    runs-on: ubuntu-latest
    if: ${{ needs.should-skip-remaining-jobs.outputs.skip == 'false' }}

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.HEDIA_BOT_GITHUB_PAT }}

      - name: Bump version and publish alpha package to npm
        uses: hedia-team/autobump-and-publish@master
        with:
          github-token: ${{ secrets.HEDIA_BOT_GITHUB_PAT }}
          npm-token: ${{ secrets.NPM_TOKEN }}
          git-name: 'hedia-bot'
          label: ${{ toJson(github.event.pull_request.labels.*.name) }} ## Defines type of version bump.
          issue-number: ${{ github.event.number }} ## So that publish comment can be written on PR.
