name: CI

on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true
      GITHUB_PAT:
        required: true

permissions:
  pull-requests: read
  contents: read

env:
  ENV_FILE: .env

jobs:
  # Determine if the following CI steps should be skipped due to autobump commit.
  should-skip-remaining-jobs:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.ci-skip.outputs.ci-skip }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '1000'

      - name: Should skip CI
        id: ci-skip
        uses: mstachniuk/ci-skip@v1
        with:
          commit-filter: 'Version autobumped to'

  # Verify required labels are set.
  validate-pr-labels:
    needs: [should-skip-remaining-jobs]
    if: ${{ needs.should-skip-remaining-jobs.outputs.skip == 'false' }}
    runs-on: ubuntu-latest

    steps:
      - name: Validate PR labels
        uses: docker://agilepathway/pull-request-label-checker:latest
        with:
          any_of: feature,fix,test
          one_of: major,minor,patch
          repo_token: ${{ github.token }}

  # Run linting, build, and tests.
  lint-build-test:
    needs: [validate-pr-labels]
    if: ${{ needs.should-skip-remaining-jobs.outputs.skip == 'false' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Load .env file
        run: cat ${{ env.ENV_FILE }} >> $GITHUB_ENV

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Set npm access token
        run: npm config set '//registry.npmjs.org/:_authToken' ${{ secrets.NPM_TOKEN }}

      - run: npm ci --ignore-scripts
      - run: npm run pkg-json-lint
      - run: npm run package-audit
      - run: npm run prettier
      - run: npm run lint
      - run: npm run tsc
      - run: npm run test

  # Bump version (if needed) & publish alpha package.
  bump-version-and-publish-alpha:
    needs: [lint-build-test]
    if: ${{ needs.should-skip-remaining-jobs.outputs.skip == 'false' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_PAT }}

      # Documentation: https://hedia.atlassian.net/wiki/spaces/DT/pages/2118811649/npm+packages+-+workflow+alpha+auto-publishing
      - name: Bump version and publish alpha package to npm
        uses: hedia-team/autobump-and-publish@master
        with:
          github-token: ${{ secrets.GITHUB_PAT }}
          npm-token: ${{ secrets.NPM_TOKEN }}
          node-version: ${{ env.NODE_VERSION }}
          # Defines type (major, minor, patch) of version bump.
          label: ${{ toJson(github.event.pull_request.labels.*.name) }}
          # Needed in order to remove comments from the PR, to avoid multiple 'Successfully published new version' comments.
          issue-number: ${{ github.event.number }}
