name: Node.js CI

on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true

env:
  ENV_FILE: .env

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Load .env file
        run: cat ${{ env.ENV_FILE }} >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Set NPM access token
        run: npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - run: npm ci --ignore-scripts
      - run: npm run pkg-json-lint
      - run: npm run prettier
      - run: npm run tslint
      - run: npm run tsc
      - run: npm run test
