name: CI

on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true
      GIT_CRYPT_KEY:
        required: true

permissions:
  pull-requests: read
  contents: read

env:
  NODE_VERSION: '16.14.0'

jobs:
  lint-build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          # cache: 'npm'

      - name: Set npm access token
        run: npm config set '//registry.npmjs.org/:_authToken' ${{ secrets.NPM_TOKEN }}

      - name: Decrypt config
        uses: sliteteam/github-action-git-crypt-unlock@1.1.0
        env:
          GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}

      - run: npm ci --ignore-scripts
      - run: npm run pkg-json-lint
      - run: npm run package-audit
      - run: npm run prettier
      - run: npm run lint
      - run: npm run tsc
      - run: npm run test
