name: CI

on:
  workflow_call:
    secrets:
      HEDIA_BOT_NPM_TOKEN:
        required: true
      GIT_CRYPT_KEY:
        required: true

permissions:
  pull-requests: read
  contents: read

jobs:
  lint-build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16.13.2'
          cache: 'npm'

      - name: Set npm access token
        run: npm config set '//registry.npmjs.org/:_authToken' ${{ secrets.HEDIA_BOT_NPM_TOKEN }}

      - name: Decrypt config
        uses: sliteteam/github-action-git-crypt-unlock@1.1.0
        env:
          GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}

      - run: npm ci --ignore-scripts
      - run: npm run pkg-json-lint
      - run: npm run prettier
      - run: npm run tslint
      - run: npm run tsc
      - run: npm run test
