name: Validate PR labels

on:
  workflow_call:

permissions:
  pull-requests: read

jobs:
  validate-pr-labels:
    runs-on: ubuntu-latest

    steps:
      - name: Validate PR labels
        uses: docker://agilepathway/pull-request-label-checker:latest
        with:
          any_of: feature,fix,test
          one_of: major,minor,patch
          repo_token: ${{ github.token }}
